src/prelim_tests/02_LBO_onSphere/results/surface_laplace_sphere_0.vtu
src/prelim_tests/02_LBO_onSphere/results/surface_laplace_sphere_1.vtu
src/prelim_tests/02_LBO_onSphere/results/surface_laplace_sphere_2.vtu
src/prelim_tests/02_LBO_onSphere/results/surface_laplace_sphere_3.vtu
src/sphere_meshes/embedded_sphere_0.msh
src/sphere_meshes/embedded_sphere_1.msh
src/sphere_meshes/embedded_sphere_2.msh
src/sphere_meshes/embedded_sphere_3.msh
src/sphere_meshes/embedded_sphere_4.msh
src/sphere_meshes/embedded_sphere_5.msh
src/Dzuik_surf_meshes/
src/Dziuk_surf_meshes/Dzuik_mesh_4.msh
src/Dziuk_surf_meshes/Dzuik_mesh_5.msh
src/Dziuk_surf_meshes/Dzuik_mesh_6.msh
src/Dziuk_surf_meshes/Dzuik_mesh_7.msh
src/Dziuk_surf_meshes/Dzuik_mesh_8.msh
src/Dziuk_surf_meshes/Dzuik_mesh_9.msh
src/Dziuk_surf_meshes/Dzuik_mesh_10.msh
src/Dziuk_surf_meshes/Dzuik_mesh_11.msh
src/prelim_tests/02_LBO_onSphere/results/result_sphere_1_u_err.png
src/prelim_tests/02_LBO_onSphere/results/result_sphere_1_u_h.png
src/prelim_tests/02_LBO_onSphere/results/result_sphere_1_u_true.png
src/prelim_tests/03_LBO_onDziuksurf/results/surface_laplace_Dzuik_surf_0.vtu
src/prelim_tests/03_LBO_onDziuksurf/results/surface_laplace_Dzuik_surf_1.vtu
src/prelim_tests/03_LBO_onDziuksurf/results/surface_laplace_Dzuik_surf_2.vtu
src/prelim_tests/03_LBO_onDziuksurf/results/surface_laplace_Dzuik_surf_3.vtu
src/prelim_tests/03_LBO_onDziuksurf/results/surface_laplace_Dzuik_surf_4.vtu
src/prelim_tests/03_LBO_onDziuksurf/results/surface_laplace_Dzuik_surf_5.vtu
src/prelim_tests/03_LBO_onDziuksurf/results/surface_laplace_Dzuik_surf_6.vtu
src/prelim_tests/03_LBO_onDziuksurf/results/surface_laplace_Dzuik_surf_7.vtu
src/prelim_tests/03_LBO_onDziuksurf/results/surface_laplace_Dzuik_surf_8.vtu
src/prelim_tests/04_THE_onDzuiksurf/results/*.vtu
src/prelim_tests/04_THE_onDzuiksurf/results/*.pvd

src/prelim_tests/05_GrayScott_onSphere/results/*.pvd
src/prelim_tests/05_GrayScott_onSphere/results/*.vtu
src/prelim_tests/05_GrayScott_onSphere/results/*/*.pvd
src/prelim_tests/05_GrayScott_onSphere/results/*/*.vtu

src/prelim_tests/06_GrayScott_DzuikSurface/results/*.pvd
src/prelim_tests/06_GrayScott_DzuikSurface/results/*.vtu

src/prelim_tests/06_GrayScott_DzuikSurface/results/*/*.vtu
src/prelim_tests/06_GrayScott_DzuikSurface/results/*/*.pvd